<!doctype html>
<html>

<head>
    <title>haiku.run/ real-time haiku sharing</title>
    <link rel="stylesheet" type="text/css" href="css/haiku_run_all.css">
</head>

<body>
    <div id="left_side">
        <span id="haiku_run_title">haiku.run/</span><br/>
        <!--<span id="subtitle">(real-time haiku sharing)</span>-->
        <div id="all_haiku_link"><a href="/all">&gt;read all haiku in database</a></div>
    </div>
    <div id="right_side">
        <ul id="haikus"></ul>

        <ul class="haiku">
            <li class="line1">share a haiku here!</li>
            <li class="line2">fellows witness in realtime</li>
            <li class="line3">your beautiful words</li>
        </ul>
        <form action="">
            <input id="line1" autocomplete="off" placeholder="first 5 syllables" autofocus="true" />
            <input id="line2" autocomplete="off" placeholder="7 syllables" />
            <input id="line3" autocomplete="off" placeholder="5 syllables again" />
            <button>Submit your Haiku</button>
        </form>
    </div>
    <!--/end right_side-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var socket = io();
        $('form').submit(function() {
            socket.emit('post_haiku', {
                'line1': $('#line1').val(),
                'line2': $('#line2').val(),
                'line3': $('#line3').val()
            });
            //send the contents of form field #haiku thru socket
            $('#line1').val('');
            $('#line2').val('');
            $('#line3').val(''); //reset haiku form to be blank on submit
            return false;
        });
        socket.on('share_haiku', function(haiku) {
            var new_haiku = $('<div class="haiku">').html(haiku);
            //    new_haiku.hide(); // animation hide first
            $('#haikus').prepend(new_haiku);
            //    new_haiku.show(1000); // animate/show after prepend element
        });

        $('input').keypress(function(e) {
            if (e.which == 13) {
                $(this).next('input').focus();
                e.preventDefault();
            }
        });

        //loading the latest haiku (serverside cache of 7 or however many)
        socket.on('load_haiku_from_cache', function(haiku) { //socket gets message "load haiku from cache"
            $('#haikus').prepend($('<div class="haiku">').html(haiku));
        });

        function on_page_load_get_latest_haiku() {
            socket.emit('request_haiku_cache'); //socket sends message "request haiku from cache"
        }
        window.onload = on_page_load_get_latest_haiku;

        //add event listeners to rating buttons (++/+/-)
        //this.clickEvent...
        /*socket.emit('rate_haiku', {
          'haiku_id': this.clickEventObj.haiku_id_somewhere_in_there...,
          'rating': 'plusplus' or 'plus' or 'needs_work',
          // the socket on the serverside knows this client IP and can add it to the rating file
          // ratings-2016-09
          // tuples: ip and rating
          // check if tuple exists before adding to file
          //
        });*/
    </script>
</body>

</html>
